cloud_id                 = "b1g63p5bga2bun2unstv"
folder_id                = "b1ghl2huasbh524ljfle"
zone                     = "ru-central1-a"
region                   = "ru-central1"
image_id                 = "fd8i3jn70o1idjkof1q7"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
subnet_id                = "e9b75d51nv8h3meflpn5"
service_account_key_file = "~/key/terraform_key.json"
instances_count          = "1"
app_disk_image           = "fd8k98bmjvct7dusrrhh"
db_disk_image            = "fd8pavmg4pbsuk5rm64k"
access_key               = "pOqcvy1Aj-iHHLN459oL"
secret_key               = "gvz-QkXPoPiNNfLbhaF0_OKpSYRUJgMBfBqA5rDq"
bucket                   = "dberezikov-bucket"
endpoint                 = "storage.yandexcloud.net"
app_instance_name        = "reddir-app-prod"
db_instance_name         = "reddir-db-prod"
